## Integrating EvaDB with Plaid for Financial Insights
The goal of this project is to try and connect a bank account to a database. We will be using Plaid to access transactions, and then storing them in a Postgres DB and then use EvaDB to provide a natural language AI layer to our DB.

### Connecting the Postgres Server to EvaDB

In [2]:
import evadb

cursor = evadb.connect().cursor()

If this is your first time running through this code, make sure to create the database below. Otherwise, you can skip this step

In [2]:
params = {
    "database": "evadb.db"
}
query = f"CREATE DATABASE plaid_data WITH ENGINE = 'sqlite', PARAMETERS = {params};"
cursor.query(query).df()

10-16-2023 18:07:05 ERROR [plan_executor:plan_executor.py:execute_plan:0186] plaid_data already exists.
Traceback (most recent call last):
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/evadb/executor/plan_executor.py", line 182, in execute_plan
    yield from output
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/evadb/executor/create_database_executor.py", line 42, in exec
    raise ExecutorError(f"{self.node.database_name} already exists.")
evadb.executor.executor_utils.ExecutorError: plaid_data already exists.

ExecutorError: plaid_data already exists.

Let's create our transactions table that we'll use to store our data. The information we're storing will be:
- The transaction id
- The dollar amount
- The category of the transaction
- The date
- The merchant name given to use from Plaid (possibly different than the original merchant name, since Plaid recategorizes it for simplicity)

In [144]:
cursor.query("""
    USE plaid_data {        
        DROP TABLE transactions
    }
""").df()

Empty DataFrame
Columns: []
Index: []

In [145]:
cursor.query("""
    USE plaid_data {        
        CREATE TABLE transactions (
            id TEXT PRIMARY KEY,
            amount FLOAT,
            category TEXT,
            date TEXT,
            merchant_name TEXT
        )
    }
""").df()

Empty DataFrame
Columns: []
Index: []

In [146]:
cursor.query("""
    USE plaid_data {
        SELECT * FROM transactions
    }
""").df()

Empty DataFrame
Columns: [id, amount, category, date, merchant_name]
Index: []

### Integrating Plaid API

Make sure the API server is running

Let's test whether the API connection works! The following should print out "Hello World"

In [34]:
import requests
import json

resp = requests.get('http://127.0.0.1:8000/api')
print(resp.content)

b'Hello World'

Make sure to login and authenticate a bank account on the frontend (Check the README for instructions on how to run the frontend).

Sign in with a Bank Account and make sure both "Authentication Successful" messages show up

In [148]:
transactions = requests.get('http://127.0.0.1:8000/get_transactions')
data = json.loads(transactions.text)
for transac in data['transactions']:
    id = transac['transaction_id']
    amount = transac['amount']
    category = transac['category'][0]
    date = transac['date']
    merchant_name = transac['merchant_name']
    query = f"""
        USE plaid_data {{
            INSERT INTO transactions (id, amount, category, date, merchant_name) VALUES ("{id}", {amount}, "{category}", "{date}", "{merchant_name}")
        }}
    """
    cursor.query(query).df()

In [149]:
cursor.query("""
    USE plaid_data {
        SELECT * from transactions
    }
""").df()

,id,amount,category,date,merchant_name
0,WjqLGVylAahJa1rJVqoNiA5kRgxk1dSdEBz9g,5.40,Travel,"Tue, 30 May 2023 00:00:00 GMT",Uber
1,AAyx36kMWLfE3zqEkXN9hw6vM5ovyEhbPBNjd,-500.00,Travel,"Sun, 28 May 2023 00:00:00 GMT",United Airlines
2,G9KyPAx86WFaProa4bLqhamb9ZEbrquV3ZgBX,12.00,Food and Drink,"Sat, 27 May 2023 00:00:00 GMT",McDonald's
3,nlxMVeQg9yTWD53WaRlZhjyxVM5xpDuabJqew,4.33,Food and Drink,"Sat, 27 May 2023 00:00:00 GMT",Starbucks
4,bkP6VrzNoLhWe5xWNjKphZ8rEgarzViRqBpxZ,89.40,Food and Drink,"Fri, 26 May 2023 00:00:00 GMT",FUN
5,mR3gV7XowmIVMrQVJAR8tDbvpBrvWVcGJrZmJ,6.33,Travel,"Sat, 13 May 2023 00:00:00 GMT",Uber
6,yNJMlyWvR4UWy8xWe1NdhzEDN54DKWcJAgR3w,5.40,Travel,"Sun, 30 Apr 2023 00:00:00 GMT",Uber
7,91ydnDM4jPHRyzjRb9rLuybEJ7rEkdH7DKNG9,-500.00,Travel,"Fri, 28 Apr 2023 00:00:00 GMT",United Airlines
8,vdeMVyWmJxSApgzAMnd9hM1ZRqgZWeuLRwQzb,12.00,Food and Drink,"Thu, 27 Apr 2023 00:00:00 GMT",McDonald's
9,RdjQg6ykAzS8z7b8jw1xFjyo9vKo7gu64ZVlk,4.33,Food and Drink,"Thu, 27 Apr 2023 00:00:00 GMT",Starbucks
10,6QyeW5bx4aiXkpjXEnoxh7adV61deZUE3z79D,89.40,Food and Drink,"Wed, 26 Apr 2023 00:00:00 GMT",FUN
11,X7Kgn6VqR4iV4LXVDRgrtgmEDyREwph7EDA6A,6.33,Travel,"Thu, 13 Apr 2023 00:00:00 GMT",Uber
12,Dby1a6zpGgHXml8Xz3LjhemR4JkRlKsAQZqw5,5.40,Travel,"Fri, 31 Mar 2023 00:00:00 GMT",Uber
13,VPkaA6yVmdswdMKwV7WbIk6vp15vM7fjdDMmJ,-500.00,Travel,"Wed, 29 Mar 2023 00:00:00 GMT",United Airlines
14,waQbVwXy1dsxElWxJwaKub1AkBdAnXi4VQXN7,12.00,Food and Drink,"Tue, 28 Mar 2023 00:00:00 GMT",McDonald's
15,5ey4ERM3adSJb8aJD5v3ida467n4Bxuad6rwo,4.33,Food and Drink,"Tue, 28 Mar 2023 00:00:00 GMT",Starbucks
16,JlB4e6NAWnT8e3V8KEozFjVElgnE3xulJn84A,89.40,Food and Drink,"Mon, 27 Mar 2023 00:00:00 GMT",FUN
17,k9zx5PQLonFGQXrGPwN8hGJvDjXv4xh4pm5Qj,6.33,Travel,"Tue, 14 Mar 2023 00:00:00 GMT",Uber
18,lvB9VjQpobHxAWzxaQPeu5xygZWy1piK7M3ww,5.40,Travel,"Wed, 01 Mar 2023 00:00:00 GMT",Uber
19,qr4bVM1WoKUXa9QX58rVhzJgPa9gByceMQKmW,-500.00,Travel,"Mon, 27 Feb 2023 00:00:00 GMT",United Airlines
20,Kq34Q6NGWbivQxPvgeDlh8PVpAgVxvFlN5XZq,12.00,Food and Drink,"Sun, 26 Feb 2023 00:00:00 GMT",McDonald's
21,rzNgV1WAorTyNKlyR4znIe73r5K3gLsrMGRPz,4.33,Food and Drink,"Sun, 26 Feb 2023 00:00:00 GMT",Starbucks
22,zPoaqVwR1NszpERzevPwt5gRQW4RnNiAmeb7K,89.40,Food and Drink,"Sat, 25 Feb 2023 00:00:00 GMT",FUN
23,BGyDxAK1WpHAxGlAnJPNhJGkyV7kMru9jkoWR,6.33,Travel,"Sun, 12 Feb 2023 00:00:00 GMT",Uber
24,3jkGgoXzx3hGJoyGAPkeh4P9rmX9EKu7RWyrG,5.40,Travel,"Mon, 30 Jan 2023 00:00:00 GMT",Uber
25,x4kgVyW9maSxp63x8l4Ru3m8Lg98Djs5BQa79,-500.00,Travel,"Sat, 28 Jan 2023 00:00:00 GMT",United Airlines
26,dW7DVB3j9oSEayDEZdzJhMyNW58NPeu8aX1MZ,12.00,Food and Drink,"Fri, 27 Jan 2023 00:00:00 GMT",McDonald's
27,agNBVKr4G1sl3nyl6Zq8h58Q7jeQWEij3XmaZ,4.33,Food and Drink,"Fri, 27 Jan 2023 00:00:00 GMT",Starbucks
28,47ya8DkBdxiGnLMGDkRahR76QdZ6z3c6Mmyrl,89.40,Food and Drink,"Thu, 26 Jan 2023 00:00:00 GMT",FUN
29,Nza716jmylTnl4NnyMDruZDbeP8b4xilKVJjn,6.33,Travel,"Fri, 13 Jan 2023 00:00:00 GMT",Uber

In [279]:
from dotenv import load_dotenv
load_dotenv()

True

In [280]:
import os
os.environ["OPENAI_KEY"] = os.getenv('OPEN_AI_KEY')

In [283]:
cursor.query("""
SELECT ChatGPT(
    "Write out a sentence for each row that uses the following template. Do not deviate from this whatsoever: [Merchant Name]: $[amount]", merchant_name, amount
)
FROM plaid_data.transactions;
""").df()

10-17-2023 14:43:03 ERROR [plan_executor:plan_executor.py:execute_plan:0186] 5.4 is not of type 'string' - 'messages.0.content'
Traceback (most recent call last):
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/evadb/executor/plan_executor.py", line 182, in execute_plan
    yield from output
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/evadb/executor/project_executor.py", line 45, in exec
    batch = apply_project(batch, self.target_list, self.catalog())
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/evadb/executor/executor_utils.py", line 46, in apply_project
    batches = [expr.evaluate(batch) for expr in project_list]
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/evadb/executor/executor_utils.py", line 46, in <listcomp>
    batches = [expr.evaluate(batch) for expr in project_list]
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/evadb/expression/function_expression.py", line 129, in evaluate
    outcomes = self._apply_function_expression(func, batch, **kwargs)
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/evadb/expression/function_expression.py", line 188, in _apply_function_expression
    return func_args.apply_function_expression(func)
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/evadb/models/storage/batch.py", line 174, in apply_function_expression
    return Batch(expr(self._frames))
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/evadb/functions/abstract/abstract_function.py", line 36, in __call__
    return self.forward(args[0])
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/evadb/functions/decorators/decorators.py", line 60, in wrapper
    return arg_fn(*args)
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/evadb/functions/chatgpt.py", line 174, in forward
    response = completion_with_backoff(**params)
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/decorator.py", line 232, in fun
    return caller(func, *(extras + args), **kw)
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/retry/api.py", line 73, in retry_decorator
    return __retry_internal(partial(f, *args, **kwargs), exceptions, tries, delay, max_delay, backoff, jitter,
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/retry/api.py", line 33, in __retry_internal
    return f()
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/evadb/functions/chatgpt.py", line 121, in completion_with_backoff
    return openai.ChatCompletion.create(**kwargs)
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/openai/api_resources/chat_completion.py", line 25, in create
    return super().create(*args, **kwargs)
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/openai/api_resources/abstract/engine_api_resource.py", line 155, in create
    response, _, api_key = requestor.request(
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/openai/api_requestor.py", line 299, in request
    resp, got_stream = self._interpret_response(result, stream)
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/openai/api_requestor.py", line 710, in _interpret_response
    self._interpret_response_line(
  File "/Users/varunhegde/Documents/Georgia Tech/Fall 2023/CS 4420/plaid_evadb/evadb-venv/lib/python3.10/site-packages/openai/api_requestor.py", line 775, in _interpret_response_line
    raise self.handle_error_response(
openai.error.InvalidRequestError: 5.4 is not of type 'string' - 'messages.0.content'

ExecutorError: 5.4 is not of type 'string' - 'messages.0.content'

In [160]:
cursor.query("""
CREATE FUNCTION IF NOT EXISTS TextSummarizer
TYPE HuggingFace
TASK 'summarization'
MODEL 'facebook/bart-large-cnn';
""").df()

Downloading (…)lve/main/config.json: 100%|██████████| 1.58k/1.58k [00:00<00:00, 2.36MB/s]
Downloading pytorch_model.bin: 100%|██████████| 1.63G/1.63G [00:56<00:00, 28.6MB/s]
Downloading (…)neration_config.json: 100%|██████████| 363/363 [00:00<00:00, 2.23MB/s]
Downloading (…)olve/main/vocab.json: 100%|██████████| 899k/899k [00:00<00:00, 20.5MB/s]
Downloading (…)olve/main/merges.txt: 100%|██████████| 456k/456k [00:00<00:00, 20.9MB/s]
Downloading (…)/main/tokenizer.json: 100%|██████████| 1.36M/1.36M [00:00<00:00, 20.4MB/s]
Your max_length is set to 142, but your input_length is only 11. Since this is a summarization task, where outputs shorter than the input are typically wanted, you might consider decreasing max_length manually, e.g. summarizer('...', max_length=5)

                                                0
0  Function TextSummarizer added to the database.

In [258]:
cursor.query("""
    DROP FUNCTION IF EXISTS ConcatenateColumnsTogether;
""").df()

                                                   0
0  Function ConcatenateColumnsTogether successful...

In [259]:
cursor.query("""
    CREATE FUNCTION ConcatenateColumnsTogether IMPL 'functions/concat_columns.py';
""").df()

                                                   0
0  Function ConcatenateColumnsTogether added to t...

In [260]:
cursor.query("""
    SELECT * FROM plaid_data.transactions;
""").df()

,transactions.id,transactions.amount,transactions.category,transactions.date,transactions.merchant_name
0,WjqLGVylAahJa1rJVqoNiA5kRgxk1dSdEBz9g,5.40,Travel,"Tue, 30 May 2023 00:00:00 GMT",Uber
1,AAyx36kMWLfE3zqEkXN9hw6vM5ovyEhbPBNjd,-500.00,Travel,"Sun, 28 May 2023 00:00:00 GMT",United Airlines
2,G9KyPAx86WFaProa4bLqhamb9ZEbrquV3ZgBX,12.00,Food and Drink,"Sat, 27 May 2023 00:00:00 GMT",McDonald's
3,nlxMVeQg9yTWD53WaRlZhjyxVM5xpDuabJqew,4.33,Food and Drink,"Sat, 27 May 2023 00:00:00 GMT",Starbucks
4,bkP6VrzNoLhWe5xWNjKphZ8rEgarzViRqBpxZ,89.40,Food and Drink,"Fri, 26 May 2023 00:00:00 GMT",FUN
5,mR3gV7XowmIVMrQVJAR8tDbvpBrvWVcGJrZmJ,6.33,Travel,"Sat, 13 May 2023 00:00:00 GMT",Uber
6,yNJMlyWvR4UWy8xWe1NdhzEDN54DKWcJAgR3w,5.40,Travel,"Sun, 30 Apr 2023 00:00:00 GMT",Uber
7,91ydnDM4jPHRyzjRb9rLuybEJ7rEkdH7DKNG9,-500.00,Travel,"Fri, 28 Apr 2023 00:00:00 GMT",United Airlines
8,vdeMVyWmJxSApgzAMnd9hM1ZRqgZWeuLRwQzb,12.00,Food and Drink,"Thu, 27 Apr 2023 00:00:00 GMT",McDonald's
9,RdjQg6ykAzS8z7b8jw1xFjyo9vKo7gu64ZVlk,4.33,Food and Drink,"Thu, 27 Apr 2023 00:00:00 GMT",Starbucks
10,6QyeW5bx4aiXkpjXEnoxh7adV61deZUE3z79D,89.40,Food and Drink,"Wed, 26 Apr 2023 00:00:00 GMT",FUN
11,X7Kgn6VqR4iV4LXVDRgrtgmEDyREwph7EDA6A,6.33,Travel,"Thu, 13 Apr 2023 00:00:00 GMT",Uber
12,Dby1a6zpGgHXml8Xz3LjhemR4JkRlKsAQZqw5,5.40,Travel,"Fri, 31 Mar 2023 00:00:00 GMT",Uber
13,VPkaA6yVmdswdMKwV7WbIk6vp15vM7fjdDMmJ,-500.00,Travel,"Wed, 29 Mar 2023 00:00:00 GMT",United Airlines
14,waQbVwXy1dsxElWxJwaKub1AkBdAnXi4VQXN7,12.00,Food and Drink,"Tue, 28 Mar 2023 00:00:00 GMT",McDonald's
15,5ey4ERM3adSJb8aJD5v3ida467n4Bxuad6rwo,4.33,Food and Drink,"Tue, 28 Mar 2023 00:00:00 GMT",Starbucks
16,JlB4e6NAWnT8e3V8KEozFjVElgnE3xulJn84A,89.40,Food and Drink,"Mon, 27 Mar 2023 00:00:00 GMT",FUN
17,k9zx5PQLonFGQXrGPwN8hGJvDjXv4xh4pm5Qj,6.33,Travel,"Tue, 14 Mar 2023 00:00:00 GMT",Uber
18,lvB9VjQpobHxAWzxaQPeu5xygZWy1piK7M3ww,5.40,Travel,"Wed, 01 Mar 2023 00:00:00 GMT",Uber
19,qr4bVM1WoKUXa9QX58rVhzJgPa9gByceMQKmW,-500.00,Travel,"Mon, 27 Feb 2023 00:00:00 GMT",United Airlines
20,Kq34Q6NGWbivQxPvgeDlh8PVpAgVxvFlN5XZq,12.00,Food and Drink,"Sun, 26 Feb 2023 00:00:00 GMT",McDonald's
21,rzNgV1WAorTyNKlyR4znIe73r5K3gLsrMGRPz,4.33,Food and Drink,"Sun, 26 Feb 2023 00:00:00 GMT",Starbucks
22,zPoaqVwR1NszpERzevPwt5gRQW4RnNiAmeb7K,89.40,Food and Drink,"Sat, 25 Feb 2023 00:00:00 GMT",FUN
23,BGyDxAK1WpHAxGlAnJPNhJGkyV7kMru9jkoWR,6.33,Travel,"Sun, 12 Feb 2023 00:00:00 GMT",Uber
24,3jkGgoXzx3hGJoyGAPkeh4P9rmX9EKu7RWyrG,5.40,Travel,"Mon, 30 Jan 2023 00:00:00 GMT",Uber
25,x4kgVyW9maSxp63x8l4Ru3m8Lg98Djs5BQa79,-500.00,Travel,"Sat, 28 Jan 2023 00:00:00 GMT",United Airlines
26,dW7DVB3j9oSEayDEZdzJhMyNW58NPeu8aX1MZ,12.00,Food and Drink,"Fri, 27 Jan 2023 00:00:00 GMT",McDonald's
27,agNBVKr4G1sl3nyl6Zq8h58Q7jeQWEij3XmaZ,4.33,Food and Drink,"Fri, 27 Jan 2023 00:00:00 GMT",Starbucks
28,47ya8DkBdxiGnLMGDkRahR76QdZ6z3c6Mmyrl,89.40,Food and Drink,"Thu, 26 Jan 2023 00:00:00 GMT",FUN
29,Nza716jmylTnl4NnyMDruZDbeP8b4xilKVJjn,6.33,Travel,"Fri, 13 Jan 2023 00:00:00 GMT",Uber

In [265]:
cursor.query("""
    CREATE TABLE summary_table AS 
        SELECT ConcatenateColumnsTogether(*) FROM plaid_data.transactions;
""").df()

                                                   0
0  The table summary_table has been successfully ...

In [320]:
cursor.query("""
    SELECT summaries FROM summary_table;
""").df()

                              summary_table.summaries
0   Spent $5.4 on the date Tue, 30 May 2023 00:00:...
1   Spent $-500.0 on the date Sun, 28 May 2023 00:...
2   Spent $12.0 on the date Sat, 27 May 2023 00:00...
3   Spent $4.33 on the date Sat, 27 May 2023 00:00...
4   Spent $89.4 on the date Fri, 26 May 2023 00:00...
5   Spent $6.33 on the date Sat, 13 May 2023 00:00...
6   Spent $5.4 on the date Sun, 30 Apr 2023 00:00:...
7   Spent $-500.0 on the date Fri, 28 Apr 2023 00:...
8   Spent $12.0 on the date Thu, 27 Apr 2023 00:00...
9   Spent $4.33 on the date Thu, 27 Apr 2023 00:00...
10  Spent $89.4 on the date Wed, 26 Apr 2023 00:00...
11  Spent $6.33 on the date Thu, 13 Apr 2023 00:00...
12  Spent $5.4 on the date Fri, 31 Mar 2023 00:00:...
13  Spent $-500.0 on the date Wed, 29 Mar 2023 00:...
14  Spent $12.0 on the date Tue, 28 Mar 2023 00:00...
15  Spent $4.33 on the date Tue, 28 Mar 2023 00:00...
16  Spent $89.4 on the date Mon, 27 Mar 2023 00:00...
17  Spent $6.33 on the date Tue, 14 Mar 2023 00:00...
18  Spent $5.4 on the date Wed, 01 Mar 2023 00:00:...
19  Spent $-500.0 on the date Mon, 27 Feb 2023 00:...
20  Spent $12.0 on the date Sun, 26 Feb 2023 00:00...
21  Spent $4.33 on the date Sun, 26 Feb 2023 00:00...
22  Spent $89.4 on the date Sat, 25 Feb 2023 00:00...
23  Spent $6.33 on the date Sun, 12 Feb 2023 00:00...
24  Spent $5.4 on the date Mon, 30 Jan 2023 00:00:...
25  Spent $-500.0 on the date Sat, 28 Jan 2023 00:...
26  Spent $12.0 on the date Fri, 27 Jan 2023 00:00...
27  Spent $4.33 on the date Fri, 27 Jan 2023 00:00...
28  Spent $89.4 on the date Thu, 26 Jan 2023 00:00...
29  Spent $6.33 on the date Fri, 13 Jan 2023 00:00...

In [317]:
cursor.query("""
    SELECT s.summaries FROM summary_table AS s JOIN plaid_data.transactions AS t WHERE s.ids = t.id AND t.category = 'Travel'
""").df()

                                          s.summaries
0   Spent $5.4 on the date Tue, 30 May 2023 00:00:...
1   Spent $-500.0 on the date Sun, 28 May 2023 00:...
2   Spent $6.33 on the date Sat, 13 May 2023 00:00...
3   Spent $5.4 on the date Sun, 30 Apr 2023 00:00:...
4   Spent $-500.0 on the date Fri, 28 Apr 2023 00:...
5   Spent $6.33 on the date Thu, 13 Apr 2023 00:00...
6   Spent $5.4 on the date Fri, 31 Mar 2023 00:00:...
7   Spent $-500.0 on the date Wed, 29 Mar 2023 00:...
8   Spent $6.33 on the date Tue, 14 Mar 2023 00:00...
9   Spent $5.4 on the date Wed, 01 Mar 2023 00:00:...
10  Spent $-500.0 on the date Mon, 27 Feb 2023 00:...
11  Spent $6.33 on the date Sun, 12 Feb 2023 00:00...
12  Spent $5.4 on the date Mon, 30 Jan 2023 00:00:...
13  Spent $-500.0 on the date Sat, 28 Jan 2023 00:...
14  Spent $6.33 on the date Fri, 13 Jan 2023 00:00...

In [306]:
cursor.query("""
    CREATE OR REPLACE FUNCTION Summarize IMPL 'functions/summarize.py';
""").df()

                                 0
0  Function Summarize overwritten.

In [309]:
cursor.query("""
    CREATE TABLE new_test AS SELECT Summarize(summaries) FROM summary_table
""").df()

                                                   0
0  The table new_test has been successfully creat...

Let's define a function that allows us to easily input a query and receive a response using ChatGPT on our EvaDB database.

In [376]:
def ask_question(query):
    final_query = f"""
    SELECT ChatGPT(
        "{query}. Make sure you do not return code or calculations. Return a straight answer that directly answers the question",
        total_summary
    ) FROM new_test
    """
    ans = cursor.query(final_query).df()
    return ans['chatgpt.response'].iloc[0]

In [356]:
q = 'Pretend you are a highly skilled financial advisor. Based on the spending data, taking into account categories, merchants, and the amount spent on each item, provide a few sentences on how you could budget better and what points you are spending a lot of money on.'
ask_question(q)

"Based on the spending data provided, it appears that a significant portion of your expenses is allocated towards travel, specifically on Uber and United Airlines. To budget better, you could consider exploring alternative transportation options or comparing prices between different airlines to potentially reduce your travel expenses. Additionally, it seems that you are spending a considerable amount on food and drink, particularly at McDonald's, Starbucks, and FUN. To save money in this category, you could consider cooking at home more often or exploring more affordable dining options. By making these adjustments, you can allocate your funds more efficiently and potentially save money in the long run."

In [355]:
q = """
In a few sentences, describe my general spending habits for different categories. Talk about total amount of money spent on each
merchant, and categories, and bring up interesting facts and insights. An example of this is: "You frequently spent money on travel, 
like the $435 you spent on Ubers last month, and you can maybe cut back on fast food spending, with $200 spent at McDonalds". This is
just an example, but stick to this format with the answer.
"""
ask_question(q)

"Based on the provided context, it appears that you have been spending a significant amount on travel, particularly on Uber and United Airlines. In the past month, you spent a total of $16.06 on Uber rides, with the highest expenditure being $6.33 on a single ride. Additionally, you spent a total of $1500 on United Airlines, with each transaction being -$500. \n\nIn terms of food and drink, you have been frequenting McDonald's, Starbucks, and FUN. Over the past month, you spent a total of $24.66 on McDonald's, with each transaction being $12.0. Similarly, you spent $8.66 on Starbucks, with each transaction being $4.33. Lastly, you spent $178.8 on FUN, with the highest expenditure being $89.4.\n\nBased on these spending habits, it seems like you have been prioritizing travel expenses, especially with the high expenditure on Uber and United Airlines. However, you may want to consider cutting back on fast food spending, as you have spent a significant amount at McDonald's."

In [373]:
q = "How much did I spend in total in the month of January? Don't show me your calculation process, just a straight answer"
ask_question(q)

'You spent a total of $-500.0 in the month of January.'

In [379]:
q = "How much money did I spend on Ubers in June?"
ask_question(q)

'You spent $5.4 on Ubers in June.'